{% extends 'mainapp/base.html' %}
{% block title %}Assets{% endblock %}
{% block body %}
  <h1>Assets list</h1>
  {% if assets %}
  <table class="full-width">
  <tr>
    <th>ID/Frozen</th>
    <th>Name/Unit</th>
    <th>Total/Decimals</th>
    <th>Url/Metadata</th>
    <th>Creator</th>
    <th>Manager/Reserve</th>
    <th>Freeze/Clawback</th>
  </tr>
  {% for asset in assets %}
  <tr>
    <td>{{ asset.asset_id }}</td>
    <td>{{ asset.name }}</td>
    <td>{{ asset.total }}</td>
    <td>{{ asset.url }}</td>
    <td rowspan="2">{{ asset.creator }}</td>
    <td>{{ asset.manager }}</td>
    <td>{{ asset.freeze }}</td>
  </tr>
  <tr>
    <td>{{ asset.frozen }}</td>
    <td>{{ asset.unit }}</td>
    <td>{{ asset.decimals }}</td>
    <td>{{ asset.metadata }}</td>
    <td>{{ asset.reserve }}</td>
    <td>{{ asset.clawback }}</td>
  </tr>
  {% endfor %}
  </table>
  {% else %}
  <p>There are no assets.</p>
  {% endif %}
  <br>
  <a href="/create-asset/">Create asset</a>
{% endblock %}
