{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Accounts{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">
  </head>
  <body>
    <div class="topnav">
      <a href="/"{% if request.path == '/' %} class="active"{% endif %}>Standalone accounts</a>
      <a href="/wallets/"{% if request.path == '/wallets/' %} class="active"{% endif %}>Wallets</a>
      <a href="/assets/"{% if request.path == '/assets/' %} class="active"{% endif %}>Assets</a>
      <a href="/search/"{% if request.path == '/search/' %} class="active"{% endif %}>Search transactions</a>
    </div>
    <div class="body">{% block body %}{% endblock %}</div>
  </body>
</html>
